.cal_manip_root 
  %table
    %tbody
      %tr
        %td
          Date: 
        %td
          - # Do not duplicate this - instead use shared/_single_click_datefield.haml
          %input{class: "", type: "text", id: "cal_manip_from_date", name: "cal_manip_from_date", onclick: "calDateClicked(this)"}
          .hidden{id: "cal_manip_from_date_parent"}
            %input{class: "datepicker", type: "text", id: "cal_manip_from_date_picker", name: "cal_manip_from_date_picker"}
        %td
          %input{ id: "cal_manip_all_day", type: "checkbox", value: false, name: "all_day", onchange: "calAllDayClicked(this)"}
        %td.inline_checkbox_label
          All Day
        %td.notallday
          From Time: 
        %td.notallday
          = render partial: 'time_selector', :locals => { name: :cal_manip_fromTime, default_time: '12:00' }
        %td.notallday
          To Time: 
        %td.notallday
          = render partial: 'time_selector', :locals => { name: :cal_manip_toTime, default_time: '13:00' }
      %tr
        %td
          Subject:
        %td{ colspan: 7 }
          %input.fullwidth{
            id: "cal_manip_subject",
            type: "text",
            name: "subject",
            value: "",
          }
      %tr
        %td
          Notes:
        %td{ colspan: 7 }
          %textarea.fullwidth{
            id: "cal_manip_notes",
            name: "notes",
            rows: 3
          }
  %button{onclick: "CreateCalendarEvent()"}
    Create Calendar Event
  .cal_creators{id: 'cal_creators'}