.world-clock-rotator
  - clocks = [["Canberra", "Australia/Canberra"], ["Chicago/St Louis",  "America/Chicago"], ["Ottawa",   "America/Toronto"], ["Tel Aviv", "Asia/Jerusalem"]]

  - clocks.each_with_index do |(city, tz), i|
    .clock-slide{ data: { tz: tz }, class: (i == 0 ? "active" : "") }
      .clock-face
        - 12.times do |i|
          .tick{ style: "transform: rotate(#{i * 30}deg);" }

        .hand.hour-hand
        .hand.minute-hand

      .clock-info
        .label= city
        .time-label