.section_heading
  Most Recent Emails
- @mm = Yahoo::Email.new(Yahoo::Email.email_actions[:get_messages])
.messages
  %table.email_table
    - @mm.get_messages.each do |msg|
      %tr{ data: { mail: msg }, onclick: 'emailClick(this)' }
        %td.email_date
          = msg[:date]
        %td.email_from
          = msg[:from]
        %td.email_subject
          = msg[:subject]