.tradingview-widget-container
  %div{id: "tradingview_b3291"}
  .tradingview-widget-copyright
    %a{href: "https://www.tradingview.com/symbols/AAPL/", rel: "noopener", target: "_blank"}
      %span.blue-text
        Fibi
    by TradingView