.tools
  %button{onclick: "getCurrentPrices()"}
    Get Current Prices
  %button{onclick: "showShareInputForm()"}
    Add new Share
  %button{onclick: "loadAllDividends()"}
    Load all dividends
= render :partial => 'new_share'