= render :partial => 'shared/header', :locals => { current: 'Breakdown By Sector' }
.invest_root
  %h1
    Breakdown By Sector
= render :partial => 'index_header', :locals => { tools_style: 'Breakdown' }
- @sectors.keys.sort.each do |sector_name|
  .single_sector
    = render :partial => 'single_sector_breakdown', :locals => { sector_name: sector_name, sector: @sectors[sector_name], include_in_pi: true }
= render :partial => 'single_sector_breakdown', :locals => { sector_name: 'Grand Total', sector: @grand_totals }