= render :partial => 'shared/header', :locals => { current: 'Dividend Report' }
.invest_root
  %h1
    Dividend Report
    %span.info-icon{ title: "All NIS values in shekels" } i
  = render :partial => 'index_header', :locals => { tools_style: 'Divrep' }
  .ddd
    - case @divrep_status
    - when :valid
      = render :partial => 'divrep_report_body'
    - when :none
      - # first time called - this is fine
    - when :missing_from
      %p.error Missing "from date"
    - when :missing_to
      %p.error Missing "to date"
    - when :invalid_sequence
      %p.error from_date must be before to_date
    - else
      %p.error Unknown status "#{@divrep_status}"
