.collapsible_section
  .collapsible_title
    #{title}
    = image_tag 'arrow2_s.gif', size: 16, class: "right-align hidden", onclick: "toggleSection(this, true)"
    = image_tag 'arrow2_n.gif', size: 16, class: "right-align", onclick: "toggleSection(this, false)"