%tr
  %td
    %label{for: "#{field_name}_field"}
      - disp_value = defined?(prompt) ? prompt : field_name
      #{disp_value}:
  %td
    - input_key = "#{field_name}_field"
    %input.read_only_field{id: input_key, readonly: true, class: (klass if defined?(klass))}