/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

th {
	padding-left: 5px;
	padding-right: 5px;
	background-color: coral;
}

tr.selected {
	font-weight: bold;
}

tr.rowcol_1 {
  background-color: antiquewhite;
}

tr.rowcol_2 {
  background-color: white;
}

tr.indexrow:hover {
  background-color: cadetblue;
}

td.action_col {
	text-align: center;
}

td.number {
	text-align: right;
}

td {
	padding-left: 5px;
	padding-right: 5px;
}

div.details {
	text-align: left;
	position: absolute;
	padding-left: 15px;
	width: 900px;
	max-width: 900;
	background-color: ivory;
	border: black solid 1px;
	padding-bottom: 15px;
}

div.hidden {
	display: none;
}

div.fullwidth {
	width: 100%;
}

div.visible {
}

div.dataForm {
	border: black solid 1px;
	padding: 10px;
	margin: 10px;
	background-color: white;
}

input.column_field {
	width: 100%;
	background-color: lightgreen;
}

img {
	cursor: pointer;
}

div.details_location {
	position: absolute;
	top: 0;
	right: 900px;
}

table.info_table {
	border: black solid 1px;
	background-color: white;
}

td.vertical-align {
	vertical-align: top;
}

sp.pill {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	white-space: nowrap;
}

div.badge_holder {
	padding-top: 5px;
	padding-bottom: 5px;
}

div.collapsible_title {
	border: black 1px solid;
	border-radius: 5px;
	background-color: lightgray;
	padding: 5px;
	margin-top: 40px;
	margin-bottom: 10px;
	margin-right: 20px;
	font-weight: bold;
	font-size: larger;
}

img.right-align {
	float: right;
}

img.hidden {
	display: none;
}

div.log-toast {
	margin-left: 60px;
	border: black 1px solid;
	width: 1500px;
	min-width: 1500px;
}
	
div.info {
	background-color: lightgreen;
}
	
div.warn {
	background-color: yellow;
}
	
div.error {
	background-color: red;
}

span.page_link {
	padding: 20px;
	width: 220px;
	margin-left: -5px;
	display: inline-block;
	border: black solid 1px;
	border-radius: 10px 10px 0px 0px;
	margin-top: 5px;
	background-color: whitesmoke;
	text-align: center;
}

span.current_link {
	padding: 20px;
	width: 220px;
	margin-left: -5px;
	display: inline-block;
	border-top: black solid 1px;
	border-left: black solid 1px;
	border-right: black solid 1px;
	border-radius: 10px 10px 0px 0px;
	margin-top: 5px;
	text-align: center;
}

div.spinner {
  position: fixed;
  top: 0; left: 0; z-index: 9999;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.2s;
}
 
div.spinner img {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%);
}
 
div.spinner {
  visibility: hidden;
  opacity: 0;
}
 
div.spinner.show {
  visibility: visible;
  opacity: 1;
}