%span
  #{desc}
%img.filter{ src: "#{asset_path(image_name)}", onclick: "toggleVisible(event, 'currency_filter')"}
.filter_div.hidden{id: 'currency_filter'}
  .checkbox_section
    %input.vertical_checkbox{type: 'checkbox', id: 'filter_aud', checked: true }
    %label.vertical_checkbox{for: 'filter_aud'}
      AUD
  .checkbox_section
    %input.vertical_checkbox{type: 'checkbox', id: 'filter_cad', checked: true }
    %label.vertical_checkbox{for: 'filter_cad'}
      CAD
  .checkbox_section
    %input.vertical_checkbox{type: 'checkbox', id: 'filter_gbp', checked: true }
    %label.vertical_checkbox{for: 'filter_gbp'}
      GBP
  .checkbox_section
    %input.vertical_checkbox{type: 'checkbox', id: 'filter_nis', checked: true }
    %label.vertical_checkbox{for: 'filter_nis'}
      NIS
  .checkbox_section
    %input.vertical_checkbox{type: 'checkbox', id: 'filter_usd', checked: true }
    %label.vertical_checkbox{for: 'filter_usd'}
      USD
  %button.filter{onclick: 'apply_filter()'}
    Apply